/** FONT FACES **/
@font-face
  font-family: "GilroyBold";
  src: url("../../static/fonts/Gilroy-Bold.woff") format("woff")
@font-face
  font-family: "GilroyMedium";
  src: url("../../static/fonts/Gilroy-Medium.woff") format("woff")

gilroyBold()
  font-family: "GilroyBold";

gilroyMedium()
  font-family: "GilroyMedium";
  font-weight: unset
