@import "mixins"
@import "variables"
@import "base"
@import "layout"
@import "components"
html
  background blue-dark
#__layout
  overflow hidden
  min-height 100vh
  background blue-medium
.c-scrollbar
  //height 100vh
  background green
