.navigation
  display flex
  padding 30px
  justify-content space-between
  align-items center
  position relative
  z-index 667
  &-list
    display flex
    list-style none
  &-item
    margin-right: 60px
    gilroyBold()
    font-size: 20px
