.roundedFeature
  height 100vh
  background blue-medium
  position relative
  display flex
  justify-content center
  align-items center
  &-content
    padding-left: 60px
    z-index 6
    &--title
      gilroyBold()
      color white
      font-size: 50px
      max-width 530px
      margin-bottom: 30px
    &--description
      gilroyMedium()
      color white
      font-size: 18px
      max-width 520px
  &-image
    width: 40%
    z-index 6
    display flex
    justify-content center
    transform translateY(25vh)
    img
      width 60vh
  //&-content
  //
  //  height 100%
  &-pointsGroup
    position absolute
    z-index 3
    left 50%
    top: 50%
    width 90%
    transform translate(-50%,-50%)

.bgshape
  position absolute
  bottom -20vh
  width 130vw
  +desktop()
    bottom -10vh
.red
  background red
  .roundedFeature
    &-image
      transform translateY(5vh)
      img
        width 70vh
  .bgshape
    bottom unset
    top -16vh
    width 160vw
    z-index 5
  ellipse
    fill red
    &:first-of-type
      transform: translate(400px, 1960px);
    &:last-of-type
      transform: translate(-82px, 1987px);
