.roundedFeature
  height 100vh
  background blue-medium
  position relative
  display flex
  justify-content center
  align-items center
  +tablet()
    flex-direction column
    padding-top 40px
    justify-content unset
  &-content
    padding-left: 60px
    z-index 6
    +desktop()
      padding-right 20px
    +tablet()
      padding 20px

    &--title
      gilroyBold()
      color white
      font-size: 50px
      max-width 530px
      margin-bottom: 30px
      +tablet()
        font-size 30px
    &--description
      gilroyMedium()
      color white
      font-size: 18px
      max-width 520px
  &-image
    width: 40%
    z-index 6
    display flex
    justify-content center
    transform translateY(25vh)
    +desktop()
      padding 0 10px
      transform translateY(30vh)
    +tablet()
      transform translateY(0vh)
    img
      width 60vh
      +desktop()
        width 50vw
      +tablet()
        width 50vh
  &-pointsGroup
    position absolute
    z-index 3
    left 50%
    top: 50%
    width 90%
    transform translate(-50%,-50%)
  &-compass
    position absolute
    left 20px
    z-index 2
    opacity 0.3

.bgshape
  position absolute
  bottom -20vh
  width 130vw
  +desktop()
    bottom -10vh
  +tablet()
    bottom: -23vh
    width: 530vw
.red
  background #E64526
  .roundedFeature
    &-image
      transform translateY(5vh)
      +desktop()
        margin-right 20px
      img
        width 70vh
        +desktop()
          width 60vw
        +tablet()
          width 50vh
  .bgshape
    bottom unset
    top -16vh
    width 160vw
    z-index 1
    +tablet()
      width 190vw
      top -8vh

  ellipse
    fill #E64526
    &:first-of-type
      transform: translate(400px, 1960px);
    &:last-of-type
      transform: translate(-82px, 1987px);
  .bottomShape
    bottom -25vh
    position absolute
    width 160vw
    z-index 1
  ellipse
    fill #E64526
    &:first-of-type
      transform: translate(-82px, 1987px);
    &:last-of-type
      transform: translate(700px, 1990px);

