.home
  min-height 100vh
  background blue-medium
  position relative
  .svgContainer
    position absolute
    top 0
    width 100vw
    height 100vh
    svg
      position: absolute
      width 100vw
      height 150vh
  //svg
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  width: auto
  //  height auto


.title
  gilroyBold()
  color green
  display block

.subtitle
  gilroyMedium()
  color red


