.home
  min-height 100vh
  background blue-medium
  overflow hidden
  position relative
  svg
    position absolute
    top 0

.title
  gilroyBold()
  color green
  display block

.subtitle
  gilroyMedium()
  color red


